
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:"Poppins", sans-serif ;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    
  
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #e0e8ff;
  


}

 section{
    width: 300px;
    height: 470px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    
 }
section .hero{
    text-align: center;
}
section .hero img{
   border-radius: 20px;
   width: 300px;
}
section .hero h1{
    padding: 20px;
}
section .hero p{
    align-items: center;
    color:gray;
    
}
section .icon{
display: flex;
gap: 30px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
    width: 250px;
    margin-left: 20px ;
}
section .icon p{
    color:gray;
}
section .icon p span{
    color: black;
    font-weight:600;
}
.btn1{
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: aliceblue;
    width: 250px;
    margin: 20px;
    height: 35px;
    border-radius: 10px;
}
.btn2{
    border: none;
    background-color: white;
    color: gray;
    width: 250px;
    margin-left:20px ;
    margin-top: -20px;
    height: 35px;
    border-radius: 10px;
}
