*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}


.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar-container a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    
    
    
}



button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1) ;
}
.login{
    
    color: rgba(76, 175, 79, 1);
    background-color: rgba(245, 247, 250, 1);
    width: 77px;
    height:40px ;
    border-radius: 6px;
    padding: 10px 20px;
    border-color: rgba(245, 247, 250, 1);

}
.sign-up{
    
    width: 91px;
    height:40px ;
    border-radius: 6px;
    padding: 10px 20px;
    border-color: rgba(76, 175, 79, 1);
    

}



/*main*/


.hero{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    margin: 20px;


}
.hero.text{
gap: 20px;
align-items: center;
text-align: center;
}
.hero.text strong{
    color: rgba(76, 175, 79, 1);;
    
}


.hero img{

}
.hero button{
    width: 91px;
    height:40px ;
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
    border-color: rgba(76, 175, 79, 1);
    margin-top: 20px;
}








/*our client*/

.client-text{
    text-align: center;
}
.client-logo img{
    padding: 90px

}







/*manage*/

manage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.manage-text {
    text-align: center;
}
.div12{
    width: 300px;
    height: 260px;

}