body{
    background-color:#1e1e2e;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 55%;
    margin:25% auto;
    background-color: #2b2b3b;
    border:1px solid  ;
    border-color: #f8f8f2;
    padding: 20px;
    color: #f8f8f2;

}
input{
    border-radius: 40px;
    height: 30px;
}
button{
    background-color: #8839ef;
    height: 30px;
    border-radius: 40px;
}
h1{
    color: #8839ef;
}
#display{
    background-color: #f8f8f2;
    color: #8839ef;
    border-radius: 40px;
}