* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-size: 14px;
    background-color:  hsl(0, 0%, 8%);
}


.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
}
.promo{
     display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 21px;

}
.promo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.promo h1{
    color: hsl(0, 0%, 100%) ;

}
.promo h4{
    color:hsl(75, 94%, 57%) ;
    padding: 10px;

}



.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    color: hsl(0, 0%, 100%);
}
.links h6{
    padding: 10px;
    font-size: 14px;
}
.links button{
    background-color: hsl(0, 0%, 20%);
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.links a{
    text-decoration: none;
    color:hsl(0, 0%, 100%) ;
}



